﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AvailabilityCare</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link href="~/node_modules/coreui/icons/css/coreui-icons.css" rel="stylesheet">
            <link href="~/node_modules/flag-icon-css/css/flag-icon.css" rel="stylesheet">
            <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
            <link href="~/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
            <!-- Main styles for this application-->
            <link href="~/css/style.css" rel="stylesheet">
            <link href="~/vendors/pace-progress/css/pace.css" rel="stylesheet">
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link href="~/node_modules/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
            <link href="~/node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
            <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <link href="~/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
            <!-- Main styles for this application-->
            <link href="~/css/style.min.css" rel="stylesheet">
            <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
        </environment>
    </head>
    <body>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                &copy; 2018 - Powered by
				<img class="navbar-brand-full" src="/images/brand/coreui.svg" width="60" height="16" alt="CoreUI Logo">
            </footer>
        </div>

        <environment include="Development">
            @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
            @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/node_modules/jquery/dist/jquery.js"></script>
            <script src="~/node_modules/popper.js/dist/umd/popper.js"></script>
            <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/node_modules/pace-progress/pace.js"></script>
            <script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
            <script src="~/node_modules/coreui/coreui/dist/js/coreui.js"></script>
            <!-- Plugins and scripts required by this view-->
            <script src="~/node_modules/chart.js/dist/Chart.js"></script>
            <script src="~/node_modules/coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.js"></script>
            <script src="~/js/main.js"></script>
            <script src="~/js/tooltips.js"></script>
        </environment>
        <environment exclude="Development">
            @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>*@
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
            <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
            <script src="~/node_modules/pace-progress/pace.min.js"></script>
            <script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
            <script src="~/node_modules/coreui/coreui/dist/js/coreui.min.js"></script>
            <!-- Plugins and scripts required by this view-->
            <script src="~/node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="~/node_modules/coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
            <script src="~/js/main.js"></script>
            <script src="~/js/tooltips.js"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
