﻿.ai-inner-checkmark:after {
  content: '';
  display: block;
  width: 15px;
  height: 38px;
  margin-left: 35px;
  margin-top: 20px;
  border: solid #0b6e29;
  border-width: 0 6px 6px 0;
  transform: rotate(45deg); }

