﻿.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid white;
    border-radius: 3px;
}

.arrow-start {
    width: 0;
    height: 0;
    margin-top: 22px;
    margin-left: 30px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid white;
    border-radius: 5px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

.ai-loading {

}

.ai-dayplan-wrapper {
    display: none;
    text-align: center;
    margin-top: 2px;
}

.ai-sitesummary-wrapper {
    text-align: center;
    margin-top: 2px;
}

.ai-start {
    width: 80px;
    height: 80px;
    background-color: #ffa126;
    border-radius: 50%;
    display: inline-block;
}

.ai-footer {
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 100px;
    height: 100px;
}

.ai-control {

}

.ai-status {
    width: 100%;
    height: 110px;
}

.ai-status .desc {
    font-size: 22px;
    color: #0b6e29;
}

.ai-checkmark {
    width: 110px;
    height: 110px;
    display: inline-block;
    background-color: #0b6e29;
    border-radius: 50%;
    display: inline-block;
}

.ai-inner-checkmark {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
}

.ai-site-start {
}

.ai-site-view {
    margin: 0px;
    padding: 0px;
}

.blurred {
    filter: blur(1px);
}

.ai-site-banner {
    height: 50px;
    width: 350px;
    margin: 10px;
    background: #ffa126;
    text-align: left;
    border-radius: 15px 15px 0px 0px;
}

.ai-site-seperator {
    clear: both;
    padding-top: 5px;
}

.ai-site-banner .site-name {
    color: #fff;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.ai-site-badges {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.ai-site-badges .jobs,
.ai-site-badges .ppms,
.ai-site-badges .activities {
    width: 85px;
    height: 100px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.ai-site-badges span {
    font-size: 36px;
    font-weight: bold;
}

.ai-site-desc {
    color: #7c7979;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
}

.ai-site-navigators {
    font-size: 14px;
    padding-top: 20px;
}

.ai-site-navigators a {
    text-decoration: none;
}

.ai-site-navigators .navigator {
    color: #fff;
    float: left;
    height: 30px;
    width: 168px;
    padding-top: 8px;
    margin-left: 20px;
    background: #ffa126;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}

.ai-site-navigators .job {
    color: #fff;
    float: left;
    height: 30px;
    width: 168px;
    padding-top: 8px;
    margin-left: 0px;
    background: #372f7d;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}

.ai-site-footer {
}


.ai-site-title {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    text-align: left;
}

.ai-job-view {
    width: 345px;
    height: 300px;
    margin: 10px;
    border: 0px solid;
    border-radius: 5px;
    box-shadow: 3px 3px #d3d3d3;
}

.ai-job-banner {
    width: 345px;
}

.job-info {
    color: #fff;
    float: left;
    height: 30px;
    width: 215px;
    font-size: 16px;
    padding-top: 8px;
    margin-left: 20px;
    background: #ffa126;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}

.job-type {
    color: #fff;
    float: left;
    height: 30px;
    width: 110px;
    padding-top: 8px;
    margin-left: 0px;
    background: #d95707;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}

.ai-job-desc {
    font-size: 16px;
    margin: 10px 0 10px 20px;
}

.ai-job-desc div {
    float: left;
    margin-top: 5px;
    text-align: left;
}

.ai-job-desc span {
    font-size: 18px;
    font-weight: bold;
}

.ai-job-footer {
}

.ai-job-start {
    color: #fff;
    float: right;
    height: 36px;
    width: 168px;
    font-size: 20px;
    padding-top: 10px;
    margin-right: 20px;
    margin-top: 20px;
    background: #ffa126;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.ai-job-start .arrow-right {
    float: right;
    margin-right: 26px;
}

.ai-job-seperator {
}


.ai-job-completed {
    padding-top: 10px;
    text-align: center;
}

.ai-job-completed .desc {
    font-size: 22px;
    color: #0b6e29;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ai-job-completed span {
    font-size: 16px;
    color: #0b6e29;
}

.ai-log-timesheet {
    color: #fff;
    height: 35px;
    width: 330px;
    font-size: 20px;
    margin: 20px;
    padding-top: 10px;
    background: #ffa126;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.ai-stats {
    width: 345px;
    height: 300px;
    margin: 10px;
    text-align: center;
}

.ai-stats .title {
    font-size: 25px;
    color: #6e6e6e;
    padding-bottom: 10px;
}

.ai-stats .info {
    float: left;
    width: 140px;
    padding: 15px;
    font-size: 16px;
    color: #6e6e6e;
}

.ai-site-map {
    width: 100%;
    height: 400px;
}