﻿<h2>@ViewData["Title"]</h2>

<header class="app-header navbar navbar-inverse navbar-fixed-top">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://availabilitycare.azurewebsites.net">
        <img class="navbar-brand-full" src="/images/brand/logo.png" width="97" height="34" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="/images/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-non active" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Profile">
                    Hello @User.Identity.Name
                </a>
            }
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="img-avatar" src="/images/avatars/6.jpg" alt="admin@bootstrapmaster.com">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-envelope-o"></i> Messages
                    <span class="badge badge-success">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-tasks"></i> Tasks
                    <span class="badge badge-danger">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-comments"></i> Comments
                    <span class="badge badge-warning">42</span>
                </a>
                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-wrench"></i> Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-usd"></i> Payments
                    <span class="badge badge-secondary">42</span>
                </a>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                        <i class="fa fa-lock"></i>Logout
                    </a>

                }
                else
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                        <i class="fa fa-user"></i>Login
                    </a>
                }
            </div>
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="page-wrapper">
    <div class="doc-wrapper">
        <div class="container">
            <div class="doc-body row">
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section id="general" class="doc-section">
                            <h2 class="section-title">Find the perfect Availability Care Person</h2>
                            <div class="section-block">
                                <div class="answer">Availability Care has devoted time to encourage professional disability support staff to be part of its community. The team understands how important it is to find someone to assist in the care or support of young adults or the elderly. Our aim is to provide prompt service and care to those who request assistance</div>
                            </div>
                        </section>
                        <section id="pricing" class="doc-section">
                            <h2 class="section-title">About Us</h2>
                            <div class="section-block">
                                <div class="answer">Welcome to Availability Care</div>
								<div class="answer">Availability Care has devoted time to encourage professional disability support staff to be part of its community. The team understands how important it is to find someone to assist in the care or support of young adults or the elderly. Our aim is to provide prompt service and care to those who request assistance. It is not uncommon today for family members to have experience in the disability sector, Availability Care is a diverse group of people who are genuine Mothers, Fathers, Aunts and Uncles, Brothers and Sisters who are passionate and dedicated to thoroughly provide a reliable and professional service to members of our community.</div>
                            </div>
                        </section>  
						
						

						<section id="pricing" class="doc-section">
                            <h2 class="section-title">Member Login</h2>
                            <div class="section-block">
                                <div class="answer">Welcome to Availability Care</div>
								<div class="answer">As a Member of Availability Care it is important that you fill out your profile with integrity and as much detail as necessary. Each of our Members undergo security clearances to be part of this community. The procedure is simple just tick your qualifications and skill set and upload certified qualifications, WWC, National Police checks. Integrity is a big part of this community and since the introduction of NDIS members must be mindful of working for other organisations and private family run NDIS providers to ensure there is no conflict of interest. 
Availability Care is not an employer, we are a community platform that provides easy and reputable access to vulnerable people. Having said this it is important that you get to know what sort of role/job you might be taking on. Take your time to get to know the person you are supporting. Risk assess each situation, ask relevant questions to person posting the role/job. Be clear of where you need to go and times and if there are support plans in place and any special requirements of individual supporting. 
Caution
Availability Care does everything in its power to monitor role/jobs that are posted, however in this digital age there are many unsavory people who may post dodgy jobs. If it sounds too good or unethical do not take it on. Availability Care does have an extensive insurance policy, but it is up to each Member to undertake his/her own risk assessment before accepting each role/job. 
Member Login Information
Please check out our fact sheet on as a Member of Availability Care
For further information you can contact us and someone from us will get back to you within 3 hours</div>
                            </div>
                        </section> 

						<section id="pricing" class="doc-section">
                            <h2 class="section-title">Customer Login Information</h2>
                            <div class="section-block">
                                <div class="answer">Welcome to Availability Care</div>
								<div class="answer">Please enter Post code to post vacant shift and fill out as much detail as possible on the following template that will assist you find someone to help meet your needs. 

Create a Customer Profile
Please fill out the following template, please note information here does not identify the person as per Privacy Act 1988. The information provided helps our Members to assess if they can successfully and safely perform the work within the required brief. After completing the template, pop in your post code and someone will be with you shortly.
Working with someone diagnosed with high complex mental health needs, which may include such different conditions such as: 
-	Anxiety		
-	PTSD		
-	Bipolar	
-	AOD
-	Schizophrenia
There can be multiple issues impacting on a person’s coping abilities and by providing this information it will allow you to get the best person to help meet their needs.  

Medical
Some minor medical supervision may be required, such as:
-	Epilepsy monitoring
-	Sleep apnea
-	Diabetes monitoring 	
Mobility
-	Fairly Independent
-	Requires assistance in getting up and down in sitting position
-	Requires some assistance with personal care
-	Requires full support
Activities of Daily living
-	Loves to assist cook and shop (independent)
-	Requires Support person to help cook
-	Requires full support 
Finances
-	Manages own affairs (cards and money)
-	Might need some reminders and guidance on Needs and Wants
Time Required for support 
3 - 4 hours a day 
4 - 8 hours a day
10 hour a day
3 – 4 hours evening
4 – 8 hours evening
Overnight sleepover
Awake shift 

Behavior Support Plan Summary 
---------------------------------------------------------------------------------------------------------------------------------
Likes and Dislikes Summary 
--------------------------------------------------------------------------------------------------------------------------------

Customer No for your own records 01/North Region 1


For further information you can contact  us  and someone will get back to you within the day.  


FAQ
How do I find an Availability Care Provider?
How do I contact an Availability Care Provider?
Invoicing
How do I receive an Invoice?

Payment options
Once a job is accepted, payment is calculated and placed into your bank account within 4 working days. 

Member Payments
Ability Care pays consultants $33.00 per hour plus penalty pay as per the SACHS award. The hours worked is calculated and then transferred into your bank account within 5 working days. For payment to occur, we require your ABN, bank details, email, facebook or linkedin details.</div>
                            </div>
                        </section> 

						<section id="pricing" class="doc-section">
                            <h2 class="section-title">Create a Member Profile </h2>
                            <div class="section-block">
                                <div class="answer">Welcome to Availability Care</div>
								<div class="answer">As a disability Support Worker, you would have had lots of experience assisting people in daily living, health and wellbeing, lifelong learning, finding work, social skills in helping people to make choices.
Thank you for signing up to be part of our dedicated community who liked to work independently. 

An organization or a person who is enrolled on the NDIS plan can post a job and this will pop up in your inbox. You can check it out and a brief description of the job will be shown and once you are happy with the task you can ring the Customer and arrange to complete the job.

It is easy to put your details onto the systems, you need to fill out the following form and upload the following documents (all documents must be certified). Availability Care is not a recruitment agency nor an employer in order for you to accept a job you must have the following so that Availability Care can meet the Australian government laws to forward payment to you. 

Next step
Ability Care looks at your accounts, to ensure all your qualifications are valid and then verified.
Availability Care pays. To find out more about applying as a self-employee, please go the ATO website where you can get an ABN and find out about your legal requirements.

Risk Assessment
Ability Care takes everyone’s safety seriously, for further information on risk assessment check out our fact sheet. Remember as an individual you are responsible for reviewing your risk assessments. As a member of Ability Care, this site is for people who are over 18 years of age. As we work with vulnerable people you have represented yourself as (i) not have been subject of a complaint, or legal action involving abuse, violence, neglect fraud, theft, drugs or endangered the safety of others (ii) You are not or ever been on the sex offender register.

About Me
-----------------------------------------------------------------------------------------------------------------------------------------
ABN
Email Address
Bank Details

Resources

Fact Sheets
NSW Ombudsman on Abuse
Epilepsy Australia




Diabetes
CPR
Risk Assessment Guideline
Situational Awareness
Medication</div>
                            </div>
                        </section> 

						<section id="pricing" class="doc-section">
                            <h2 class="section-title">Terms of use</h2>
                            <div class="section-block">
                                <div class="answer">Welcome to Availability Care</div>
								<div class="answer">By using this site, you have agreed on the following:
1 Use the site for in a friendly professional way and not in anyway threaten or intimidate people
2. Have only one account and provide factual and truthful information 
3. Will not post a job that is unsafe for a Member of Ability Care to work in
4. Should you behave in an unlawful way Ability Care will terminate your Membership, which it will mean you will not be able to re-register
5. As a member of Ability Care, you have given your permission for us to use your information only in relation for what it has been collected for. In plain English, verifying yourself and personal information which can include checking that you are not a criminal figure.
6. Remember verification checks on all Members of Availability Care will impact on if you should join as a member, It is vital that you provide accurate information.
7. Should you wish to cancel your membership, you may cancel at any time.</div>
							</div>
						</section>
                    </div>
                </div>
                <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                    <div id="doc-nav" class="doc-nav">
                        <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                            <a class="nav-link scrollto" href="#general">About us</a>
                            <a class="nav-link scrollto" href="#features">About customer</a>
                            <a class="nav-link scrollto" href="#support">About member</a>
							<a class="nav-link scrollto" href="#support">Terms of use</a>
                        </nav>
                    </div>
                </div>
            </div>             
        </div>
    </div>
</div>
