﻿
@{
    ViewData["Title"] = "Chatting";
}

<link href="~/css/chat/css.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chat-engine@0.8.4/dist/chat-engine.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {

        ChatEngine = ChatEngineCore.create({
            publishKey: 'pub-c-286edaff-4871-4bf3-83c3-f07e6017e3c3',
            subscribeKey: 'sub-c-d95fd854-d8d6-11e8-89fc-d641165b92ba'
        });

        // use a helper function to generate a new profile
        //let newPerson = generatePerson(true);

        // create a bucket to store our ChatEngine Chat object
        let myChat;

        // create a bucket to store
        let me;

        // compile handlebars templates and store them for use later
        let peopleTemplate = Handlebars.compile($("#person-template").html());
        let meTemplate = Handlebars.compile($("#message-template").html());
        let userTemplate = Handlebars.compile($("#message-response-template").html());

        const source_language = "en";
        const target_language = "es";


        // Provide a unique id and other profile information for your user here.
        const uuid = String(new Date().getTime());

        // this is our main function that starts our chat app
        const init = () => {

            // connect to ChatEngine with our generated user
            //ChatEngine.connect(newPerson.uuid, newPerson);

            ChatEngine.connect(uuid, {
                nickName: "dave",
                favoriteColor: "Red"
            });

            // when ChatEngine is booted, it returns your new User as `data.me`
            ChatEngine.on('$.ready', function (data) {

                // store my new user as `me`
                me = data.me;

                // create a new ChatEngine Chat
                myChat = new ChatEngine.Chat('chatengine-demo-chat');

                // when we recieve messages in this chat, render them
                myChat.on('message', (message) => {
                    renderMessage(message);
                });

                // when a user comes online, render them in the online list
                myChat.on('$.online.*', (data) => {
                    $('#people-list ul').append(peopleTemplate(data.user));
                });

                // when a user goes offline, remove them from the online list
                myChat.on('$.offline.*', (data) => {
                    $('#people-list ul').find('#' + data.user.uuid).remove();
                });

                // wait for our chat to be connected to the internet
                myChat.on('$.connected', () => {

                    // search for 50 old `message` events
                    myChat.search({
                        event: 'message',
                        limit: 50
                    }).on('message', (data) => {

                        console.log(data)

                        // when messages are returned, render them like normal messages
                        renderMessage(data, true);

                    });

                });

                // bind our "send" button and return key to send message
                $('#sendMessage').on('submit', sendMessage)

            });

        };

        // send a message to the Chat
        const sendMessage = () => {

            // get the message text from the text input
            let message = $('#message-to-send').val().trim();

            // if the message isn't empty
            if (message.length) {

                // emit the `message` event to everyone in the Chat
                myChat.emit('message', {
                    text: message,
                    translate: {
                        text: message,
                        source: source_language,
                        target: target_language
                    }
                });

                // clear out the text input
                $('#message-to-send').val('');
            }

            // stop form submit from bubbling
            return false;

        };

        // render messages in the list
        const renderMessage = (message, isHistory = false) => {

            // use the generic user template by default
            let template = userTemplate;

            // if I happened to send the message, use the special template for myself
            if (message.sender.uuid == me.uuid) {
                template = meTemplate;
            }

            let el = template({
                messageOutput: message.data.text,
                time: getCurrentTime(),
                user: message.sender.state
            });

            // render the message
            if (isHistory) {
                $('.chat-history ul').prepend(el);
            } else {
                $('.chat-history ul').append(el);
            }

            // scroll to the bottom of the chat
            scrollToBottom();

        };

        // scroll to the bottom of the window
        const scrollToBottom = () => {
            $('.chat-history').scrollTop($('.chat-history')[0].scrollHeight);
        };

        // get the current time in a nice format
        const getCurrentTime = () => {
            return new Date().toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
        };

        // boot the app
        init();
    });

</script>

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <ul class="list"></ul>
    </div>
    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
            <div class="chat-about">
                <div class="chat-with">ChatEngine Demo Chat</div>
            </div>
        </div>
        <div class="chat-history">
            <ul></ul>
        </div>
        <form id="sendMessage" class="chat-message clearfix">
            <input type="text" name="message-to-send" id="message-to-send" placeholder="Type your message" rows="1"></input>
            <input type="submit" value="Send"></input>
        </form>
        <!-- end chat-message -->
    </div>
    <!-- end chat -->
</div>
<!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">{{user.first}}</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>
<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{user.first}}</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{messageOutput}}
        </div>
    </li>
</script>
<script id="person-template" type="text/x-handlebars-template">
    {{#if state.full}}
    <li class="clearfix" id="{{uuid}}">
        <img src="{{state.avatar}}" alt="avatar" />
        <div class="about">
            <div class="name">{{state.full}}</div>
            <div class="status">
                <i class="fa fa-circle online"></i> online
            </div>
        </div>
    </li>
    {{/if}}
</script>