﻿@{
    ViewData["Title"] = "Site map direction";
}

<link href="~/css/map/aiAnimate.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATvcZDtF9rHnUgxC5u_2PW6uqF1HERvDU&libraries=places"></script>

<script>
	var arrMarkers = new Array(0);
	var bounds;
	var map;

	var locationCircle;
	var zoomLevel = 16;
    var lastZoom = zoomLevel;
    var rMin = 100, rMax = 300, step = 10;
    var intId;

	var icons = {
        default: createIcon('@Url.Content("~/images/map/ai-map-marker@2x.png")', 36, 42),
		site: createIcon('@Url.Content("~/images/map/ai-stats-site@2x.png")', 60, 50),
        start: createIcon('@Url.Content("~/images/map/ai-route-start@2x.png")', 36, 42),
        end: createIcon('@Url.Content("~/images/map/ai-route-end@2x.png")', 36, 42)
    };

	function createIcon(url, w, h) {
        return new google.maps.MarkerImage(url,
            new google.maps.Size(w, h),
            new google.maps.Point(0, 0),
            new google.maps.Point(16, 32));
    }

    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap);
        } else {
            $('.error').innerHTML = "Geolocation is not supported by this browser.";
        }

        // *
        // START INFOWINDOW CUSTOMIZE.
        // The google.maps.event.addListener() event expects
        // the creation of the infowindow HTML structure 'domready'
        // and before the opening of the infowindow, defined styles are applied.
        // *
        google.maps.event.addListener(infoWindow, 'domready', function () {

            // Reference to the DIV that wraps the bottom of infowindow
            var iwOuter = $('.gm-style-iw');

            /* Since this div is in a position prior to .gm-div style-iw.
             * We use jQuery and create a iwBackground variable,
             * and took advantage of the existing reference .gm-style-iw for the previous div with .prev().
            */
            var iwBackground = iwOuter.prev();

            // Removes background shadow DIV
            iwBackground.children(':nth-child(2)').css({ 'display': 'none' });

            // Removes white background DIV
            iwBackground.children(':nth-child(4)').css({ 'display': 'none' });

            // Moves the infowindow 115px to the right.
            iwOuter.parent().parent().css({ left: '115px' });

            // Moves the shadow of the arrow 76px to the left margin.
            iwBackground.children(':nth-child(1)').attr('style', function (i, s) { return s + 'left: 76px !important;' });

            // Moves the arrow 76px to the left margin.
            iwBackground.children(':nth-child(3)').attr('style', function (i, s) { return s + 'left: 76px !important;' });

            // Changes the desired tail shadow color.
            iwBackground.children(':nth-child(3)').find('div').children().css({ 'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index': '1' });

            // Reference to the div that groups the close button elements.
            var iwCloseBtn = iwOuter.next();

            // Apply the desired effect to the close button
            iwCloseBtn.css({ opacity: '1', right: '38px', top: '3px', border: '7px solid #48b5e9', 'border-radius': '13px', 'box-shadow': '0 0 5px #3990B9' });

            // If the content of infowindow not exceed the set maximum height, then the gradient is removed.
            if ($('.iw-content').height() < 140) {
                $('.iw-bottom-gradient').css({ display: 'none' });
            }

            // The API automatically applies 0.7 opacity to the button after the mouseout event. This function reverses this event to the desired value.
            iwCloseBtn.mouseout(function () {
                $(this).css({ opacity: '1' });
            });
        });
    });

    var content =
        '<div id="iw-container">' +
        '<div class="iw-title">Porcelain Factory of Vista Alegre</div>' +
        '<div class="iw-content">' +
            '<div class="iw-subTitle">History</div>' +
            '<img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83">' +
            '<p>Founded in 1824, the Porcelain Factory of Vista Alegre was the first industrial unit dedicated to porcelain production in Portugal.' +
            '<div class="iw-subTitle">Contacts</div>' +
            '<p>VISTA ALEGRE ATLANTIS, SA<br>3830-292 Ílhavo - Portugal<br>'+
            '<br>Phone. +351 234 320 600<br>e-mail: geral@vaa.pt<br>www: www.myvistaalegre.com</p>'+
            '</div>' +
            '<div class="iw-bottom-gradient"></div>' +
        '</div>';
    var infoWindow = new google.maps.InfoWindow({
        content: content,
        maxWidth: 350
    });

	function randomlyplotmarkers()
	{
		if (arrMarkers)
		{
			for (i in arrMarkers)
			{
			arrMarkers[i].setMap(null)
			}
		}

		arrMarkers=new Array(0);
		plotrandom(10);
	}

	function plotrandom(number)
	{
		bounds = map.getBounds();
		var southWest = bounds.getSouthWest();
		var northEast = bounds.getNorthEast();
		var lngSpan = northEast.lng() - southWest.lng();
		var latSpan = northEast.lat() - southWest.lat();
		pointsrand=[];

		for(var i=0;i<number;++i)
		{
			var point = new google.maps.LatLng(southWest.lat() + latSpan * Math.random(),southWest.lng() + lngSpan * Math.random());
			pointsrand.push(point);
		}

		for(var i=0;i<number;++i)
		{
			var str_text=i+" : "+pointsrand[i];
			var marker=placeMarker(pointsrand[i],str_text);
			arrMarkers.push(marker);
			marker.setMap(map);
		}
	}

	function placeMarker(location,text)
	{
		var marker = new google.maps.Marker({
			position:location,
			map:map,
			icon:icons.default,
			title:text.toString(),
			draggable:false});

		google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker);
        });

		return marker;
	}

    function initMap(position) {

        var markers = [];

        var markfontSize = "16px";
        var markfontColor = "#403a7c";
        var markfontWeight = "bold";

        var currentlocation = {
            center: { lat: position.coords.latitude, lng: position.coords.longitude},
            title: 'Current position',
            population: 2714856
        };
        var cityway = [];
        var citymap = [];
        citymap.push(currentlocation);
        for (var i = 0; i < cityway.length; i++) {
            citymap.push(cityway[i]);
        }

        map = new google.maps.Map(document.getElementById("googleMap"),
            {
                center: new google.maps.LatLng(currentlocation.center),
                zoom: zoomLevel,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        google.maps.event.addListener(map, 'click', function() {
            infoWindow.close();
        });
		google.maps.event.addListener(map, 'tilesloaded', function(){
			randomlyplotmarkers();
		});

		var input = document.getElementById('searchInput');
		map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

		var autocomplete = new google.maps.places.Autocomplete(input);
		autocomplete.bindTo('bounds', map);

		var infowindow = new google.maps.InfoWindow();
		var marker = new google.maps.Marker({
			map: map,
			anchorPoint: new google.maps.Point(0, -29)
		});

		autocomplete.addListener('place_changed', function() {
			infowindow.close();
			marker.setVisible(false);
			var place = autocomplete.getPlace();
			if (!place.geometry) {
				window.alert("Autocomplete's returned place contains no geometry");
				return;
			}

			// If the place has a geometry, then present it on a map.
			if (place.geometry.viewport) {
				map.fitBounds(place.geometry.viewport);
			} else {
				map.setCenter(place.geometry.location);
				map.setZoom(zoomLevel);
			}
			marker.setIcon(icons.site);
			marker.setPosition(place.geometry.location);
			marker.setVisible(true);

			var address = '';
			if (place.address_components) {
				address = [
				  (place.address_components[0] && place.address_components[0].short_name || ''),
				  (place.address_components[1] && place.address_components[1].short_name || ''),
				  (place.address_components[2] && place.address_components[2].short_name || '')
				].join(' ');
			}

			infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
			infowindow.open(map, marker);

			locationCircle = createCircle(place.geometry.location);
			animateCircle();
		});

        var waypts = [];
        for (var i = 1; i < citymap.length -1; i++) {
            waypts.push({
                location: citymap[i].center,
                stopover: true
            });
        }

        //var directionsService = new google.maps.DirectionsService();
        //calculateAndDisplayRoute(directionsService, citymap[0].center, citymap[citymap.length - 1].center, waypts);

		dropMarkers();

        function calculateAndDisplayRoute(directionsService, from, to, waypts) {
            directionsService.route({
                    origin: from,
                    destination: to,
                    waypoints: waypts,
                    optimizeWaypoints: true,
                    avoidTolls: true,
                    avoidHighways: false,
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.METRIC,
                    provideRouteAlternatives: false
                },
                function(response, status) {
                    if (status === google.maps.DirectionsStatus.OK) {
                        new google.maps.DirectionsRenderer({
                            map: map,
                            directions: response,
                            suppressMarkers: true
                        });
                        var leg = response.routes[0].legs[0];
                        makeMarker(leg.start_location, icons.start, map);
                        makeMarker(leg.end_location, icons.end, map);

                        dropMarkers();
                        fx(response.routes[0]);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
        }

        function makeMarker(position, icon, map) {
            new google.maps.Marker({
                position: position,
                icon: icon,
                map: map
            });
        }

        function dropMarkers() {
            clearMarkers();

            locationCircle = createCircle(citymap[0].center);

            for (var i = 1; i < citymap.length; i++) {
                createCircle(citymap[i].center);
                addMarkerWithTimeout(citymap[i].center, citymap[i].title, i * 200);
            }

            animateCircle();
            animateMarkers();
        }

        function createCircle(center) {
            return new google.maps.Circle({
                    strokeColor: '#ffb3b3',
                    strokeOpacity: 0.5,
                    strokeWeight: 0,
                    fillColor: '#ffb3b3',
                    fillOpacity: 0.5,
                    map: map,
                    center: center,
                    radius: 100
                });
        }

        function animateCircle() {
            setAnimation();
            google.maps.event.addListener(map,
                'zoom_changed',
                function() {
                    console.log('zoom changed');
                    clearInterval(intId);

                    var zoom = map.getZoom();
                    if (zoom > lastZoom) {
                        rMax /= 2;
                        rMin /= 2;
                        step /= 2;
                    } else {
                        rMax *= 2;
                        rMin *= 2;
                        step *= 2;
                    }
                    lastZoom = zoom;

                    locationCircle.setRadius(rMax);
                    setAnimation();
                });
        }

        function setAnimation() {
            var direction = 1;
            intId = setInterval(function() {
                    var radius = locationCircle.getRadius();
                    if ((radius > rMax) || (radius < rMin)) {
                        direction *= -1;
                    }
                    locationCircle.setRadius(radius + direction * step);
                },
                100);
        }

        function animateMarkers() {
            var myoverlay = new google.maps.OverlayView();
            myoverlay.draw = function () {
                this.getPanes().markerLayer.id='markerLayer';
            };
            myoverlay.setMap(map);
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        function addMarkerWithTimeout(position, title, timeout) {
            window.setTimeout(function () {
                    var marker = new google.maps.Marker({
                        position: position,
                        title: title,
                        label: {
                            text: title,
                            color: markfontColor,
                            fontSize: markfontSize,
                            fontWeight: markfontWeight
                        },
                        icon: icons.default,
                        draggable: false,
                        clickable: true,
                        optimized: false,
                        visible: true,
                        map: map,
                        animation: google.maps.Animation.DROP
                    });

                    markers.push(marker);
                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });
                },
                timeout);
        }

        function fx(o) {
            if (o && o.legs) {
                for (l = 0; l < o.legs.length; ++l) {
                    var leg = o.legs[l];
                    for (var s = 0; s < leg.steps.length; ++s) {
                        var step = leg.steps[s],
                            a = (step.lat_lngs.length) ? step.lat_lngs[0] : step.start_point,
                            z = (step.lat_lngs.length) ? step.lat_lngs[1] : step.end_point,
                            dir = ((Math.atan2(z.lng() - a.lng(), z.lat() - a.lat()) * 180) / Math.PI) + 360,
                            ico = ((dir - (dir % 3)) % 120);
                        new google.maps.Marker({
                            position: a,
                            icon: new google.maps.MarkerImage('https://maps.google.com/mapfiles/dir_' + ico + '.png',
                                new google.maps.Size(24, 24),
                                new google.maps.Point(0, 0),
                                new google.maps.Point(12, 12)
                            ),
                            map: map,
                            title: Math.round((dir > 360) ? dir - 360 : dir) + '°'
                        });

                    }
                }
            }
        }
	}
</script>

<header class="app-header navbar navbar-inverse navbar-fixed-top">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://availabilitycare.azurewebsites.net">
        <img class="navbar-brand-full" src="/images/brand/logo.png" width="97" height="34" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="/images/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-non active" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Profile">
                    Hello @User.Identity.Name
                </a>
            }
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="img-avatar" src="/images/avatars/6.jpg" alt="admin@bootstrapmaster.com">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-envelope-o"></i> Messages
                    <span class="badge badge-success">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-tasks"></i> Tasks
                    <span class="badge badge-danger">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-comments"></i> Comments
                    <span class="badge badge-warning">42</span>
                </a>
                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-wrench"></i> Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-usd"></i> Payments
                    <span class="badge badge-secondary">42</span>
                </a>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                        <i class="fa fa-lock"></i>Logout
                    </a>

                }
                else
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                        <i class="fa fa-user"></i>Login
                    </a>
                }
            </div>
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="dashboard portrait-view">
    <input id="searchInput" class="controls" type="text" placeholder="Enter a location" />
    <div id="googleMap" style="width: 100%; height: 680px;"></div>
</div>